<div class='container mt-5'>
  <div class='row'>
      <h4>ジャンル編集</h4>
    </div>

       <%= form_with model: @genre,local:true, url: admin_genre_path, method: :patch do |f| %>
        <br>
        <div class="form-group row">
          <div class="col-2">
          <%= f.label "ジャンル名" %>
          </div>
          <div class="col-3">
          <%= f.text_field :name, class: 'form-control genre_name' %>
          </div>

          <div class="col-2">
            <%= f.submit "変更を保存",class: "btn btn-outline-success" %>
          </div>
       <% end %>

          <div class="col-5">
          </div>
       </div>
  </div>
</div>