<h1>管理者トップページ(注文履歴一覧)</h1>

<h2>注文履歴一覧</h2>
<table>
  <tr>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
  </tr>
 <% @order.each do |f| %>
  <tr>
    <td><%= link_to f.created_at, admin_order_path(f.id) %></td>
    <td><%= f.customer %></td>
    <td><%= f.amount %></td>
  </tr>
  <% end %>
</table>
