.top-page-image {
  position: relative;
}
.top-page-image p {
  position: absolute;
  color: orange;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
.piimage {
  height: 200px;
  width: 200px;
}
.sidb {
  font-weight: 800;
}
.jsb {
  border: 3px solid orange;
}
.js {
  font-weight: 800;
  font-size: 20px;
  border-bottom: 3px solid orange;
}
.public-index {
  display: flex;
  flex-flow: wrap;
}
.p-item-index {
  text-align: right;
}