  <div class='row border border-primary'>
    <div class='table table-hover table-inverse'>
      <div class="js">ジャンル検索</div></br>
        <% genres.each do |genre| %>
          <%= genre.name %></br>
        <% end %>
    </div>
  </div>